<div class="pure-g">

  <div class="currency l-box pure-u-1 is-center">
    Currency:
    <button 
      class="pure-button" 
      ng-click="setCurrency( $index )"
      ng-class="{ 'pure-button-primary': currency === activeCurrency }" 
      ng-repeat="currency in currencies">
      {{ currency.val }}
    </button>
  </div>

  <div class="l-box pure-u-1 is-center">
    <form class="pure-form">
      <input 
        class="amount"
        type="number"
        ng-model="amount" 
        name="amount"
        min="0" step="0.01"
        placeholder="type a value"
      >{{ currency }}

      <button class="pure-button button-add" ng-click="addAmount()">
        <i class="fa fa-plus"></i>
      </button>
      <button class="pure-button button-remove" ng-click="removeAmount()">
        <i class="fa fa-trash-o fa-lg"></i>
      </button>
    </form>
  </div>

  <notification></notification>

  <div id="grand-total" class="l-box pure-u-1 is-center">
    Grand Total
    <span>
      <i class="fa fa-{{ activeCurrency.icon }}"></i> {{ total | number:2 }}
    </span>
  </div>

  <div class="l-box pure-u-1 is-center" ng-show="transitions.length > 0">
    <table id="transitions" class="pure-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="transition in transitions" 
          ng-class-odd="'pure-table-odd'"
        >
          <td>{{ $index + 1 }}</td>
          <td>{{ transition.amount | currency:activeCurrency.symbol }}</td>
          <td>{{ transition.date | date:"d MMM yy - HH:mm:ss"}}</td>
          <td>{{ transition.description }} &nbsp;<i class="fa fa-sign-{{ transition.type }}"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
    
</div>